* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    animation: fadeAll 0.7s ease-out;
    perspective: 1200px;
    scroll-snap-type: y mandatory;
}

@keyframes fadeAll {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* ============================
    FULLSCREEN AKAZA & ZENITSU
============================ */

.akaza-bg,
.zenitsu-bg {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.akaza-bg,
.zenitsu-bg,
footer {
    scroll-snap-align: start;
}

.akaza-bg video,
.zenitsu-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

/* ============================
            TEXT AKAZA
============================ */

.akaza-content {
    position: absolute;
    left: 30px;
    bottom: 20px;
    z-index: 10;
}

.title span {
    display: inline-block;
    opacity: 0;
    transform: translateY(80px);
    animation: slideUp 2.3s ease-out forwards;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 150px;
    color: #fff;
    letter-spacing: -10px;
    text-shadow: 0 0 20px rgba(255,255,255,0.1);
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title span:nth-child(1) { animation-delay: 0.0s; }
.title span:nth-child(2) { animation-delay: 0.4s; }
.title span:nth-child(3) { animation-delay: 0.8s; }
.title span:nth-child(4) { animation-delay: 1.2s; }
.title span:nth-child(5) { animation-delay: 1.6s; }

/* ============================
        Zenitsu Content
============================ */

.zenitsu-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    opacity: 0;
    font-family: sans-serif;
    position: absolute;
    left: 20px;
    top: 80px;
    background: rgba(255, 255, 255, 0.1);
    width: 40%;
    padding: 15px;
    color: #fff;
    border: 1px solid;
    border-radius: 7px;
    transform: translateZ(-150px);
}

.zenitsu-content.show {
    animation: popInZ 1.5s ease-out forwards;
}

@keyframes popInZ {
    from {
        opacity: 0;
        transform: scale(0.8) translateZ(-150px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateZ(0);
    }
}

.img-runing {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    position: absolute;
    bottom: 30px;
}

.runing-up img,
.runing-down img {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 0 30px;
    filter: drop-shadow(0 0 10px rgba(255,255,255,0.2));
    opacity: 0;
    animation: imgIn 1s ease-out forwards;
}

@keyframes imgIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.runing-down img:nth-child(1)  { animation-delay: 0s; }
.runing-down img:nth-child(2)  { animation-delay: .1s; }
.runing-down img:nth-child(3)  { animation-delay: .2s; }
.runing-down img:nth-child(4)  { animation-delay: .3s; }
.runing-down img:nth-child(5)  { animation-delay: .4s; }
.runing-down img:nth-child(6)  { animation-delay: .5s; }
.runing-down img:nth-child(7)  { animation-delay: .6s; }
.runing-down img:nth-child(8)  { animation-delay: .7s; }
.runing-down img:nth-child(9)  { animation-delay: .8s; }
.runing-down img:nth-child(10) { animation-delay: .9s; }
.runing-down img:nth-child(11) { animation-delay: .9s; }
.runing-down img:nth-child(12) { animation-delay: .9s; }
.runing-down img:nth-child(13) { animation-delay: .9s; }
.runing-down img:nth-child(14) { animation-delay: .9s; }

.runing-up img:nth-child(1)  { animation-delay: 0s; }
.runing-up img:nth-child(2)  { animation-delay: .1s; }
.runing-up img:nth-child(3)  { animation-delay: .2s; }
.runing-up img:nth-child(4)  { animation-delay: .3s; }
.runing-up img:nth-child(5)  { animation-delay: .4s; }
.runing-up img:nth-child(6)  { animation-delay: .5s; }
.runing-up img:nth-child(7)  { animation-delay: .6s; }
.runing-up img:nth-child(8)  { animation-delay: .7s; }
.runing-up img:nth-child(9)  { animation-delay: .8s; }
.runing-up img:nth-child(10) { animation-delay: .9s; }
.runing-up img:nth-child(11) { animation-delay: .9s; }
.runing-up img:nth-child(12) { animation-delay: .9s; }
.runing-up img:nth-child(13) { animation-delay: .9s; }
.runing-up img:nth-child(14) { animation-delay: .9s; }

.runing-up {
    display: flex;
    gap: 10px;
    animation: moveRight 15s linear infinite;
}

.runing-down {
    display: flex;
    gap: 10px;
    animation: moveLeft 15s linear infinite;
}

@keyframes moveRight {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0); }
}

@keyframes moveLeft {
    from { transform: translateX(0); }
    to   { transform: translateX(-100%); }
}

@media (max-width: 600px) {

    .title span {
        font-size: 60px;
        letter-spacing: -5px;
    }

    .zenitsu-content {
        width: 80%;
        left: 10px;
    }

    .runing-up img,
    .runing-down img {
        width: 80px;
        height: 100px;
    }
}